.user {
  padding: 30px;
}

.header {
  border-bottom: 0.5px solid #eee;
  color: #333
}

.header span {
  font-size: 12px;
  margin-bottom: 5px;
}

.content {
  max-width: 60%;
  margin: 0 auto;
  padding: 50px;
}



.card {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.input-field {
  margin-bottom: 7px;
  padding: 3px 10px;
}

.input-field input {
  border: 1px solid lightgrey;
  padding: 7px 10px;
  outline: none;
  width: 100%;
}

.btns {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 10px;
}

.btns button {
  width: calc(50% - 20px);
  padding: 10px;
  border: none;
  outline: none;
}

.btns button:first-child {
  background-color: indigo;
  color: white
}

.btns button:last-child {
  background-color: red;
  color: white
}