<div class="contacts">
  <div class="header">
    <h2>Contacts List</h2>
    <p class="counter">
      <i class="fa-solid fa-address-book"></i>{{ contacts.length }}
      <span>Total</span>
    </p>
  </div>
  <div class="wrapper">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th>#</th>
          <th>FullName</th>
          <th>Title</th>
          <th>Company</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody *ngIf="!isLoading">
        <tr *ngFor="let contact of contacts; let i = index" class="contact">
          <td>{{ i + 1 }}</td>
          <td>{{ contact.firstName }} {{ contact.lastName }}</td>
          <td>{{ contact.position }}</td>
          <td>{{ contact.entreprise }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.telephone }}</td>
          <td>{{ contact.address }}</td>
          <td>
            <div class="btns">
              <button
                class="edit"
                (click)="navigateToContactEdit(contact.id!)"
              >
                <i class="fa-solid fa-pen"></i>
              </button>
              <button class="delete" (click)="deleteContact(contact.id!)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <!-- <p *ngIf="isLoading">Loading...</p> -->
    </table>
  </div>
</div>
