.header {
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: indigo;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5vw;

  z-index: 999;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}



.menu ul {
  width: 100;
  list-style: none;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  gap: 20px;
}

.menu li:last-child {
  background-color: white;
  color: indigo;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
}