.account {
  width: calc(100% - 20vw);
  height: 82vh;
  margin: auto;
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.input-field {
  width: 500px;
  margin-bottom: 7px;
  padding: 3px 10px;

}

.input-field input {
  border: 1px solid lightgrey;
  background-color: white;
  padding: 7px 10px;
  outline: none;
  width: 100%;
}

.btns {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 10px;
}

.btns button {
  padding: 10px;
  border: none;
  outline: none;
}

.btns button:first-child {
  background-color: indigo;
  color: white
}

.btns button:last-child {
  background-color: red;
  color: white
}

h6 {
  cursor: pointer;
}