<div class="login">
  <div class="left">
    <img src="assets/image.png" alt="Zoro Innovate" />
    <h3>Zoro Innovate</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum voluptatum
      odio voluptatibus, pariatur maiores quasi at officia ipsa expedita
      ducimus.
    </p>
  </div>
  <div class="right">
    <h3>Get Connected!</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #localForm="ngForm">
      <div class="input-field">
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          [class.is-invalid]="
            localForm.submitted && loginForm.get('email')?.invalid
          "
        />
        <div class="invalid-feedback">Email is required</div>
      </div>
      <div class="input-field">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          [class.is-invalid]="
            localForm.submitted && loginForm.get('password')?.invalid
          "
        />
        <div class="invalid-feedback">Password is required</div>
      </div>
      <div class="remember">
        <label> <input type="checkbox" /> Remember Me </label>
      </div>
      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? "Connecting..." : "Login" }}
      </button>

      <p>{{ errorMessage }}</p>
    </form>
    <p class="forgot">Forgot Password?</p>
  </div>
</div>
