.contacts {
  padding: 5px 10vw;
  position: relative;
}

.header {
  width: calc(100% - 20vw);
  margin: 10px 0px;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(232, 232, 232);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 70px;
  z-index: 2
}

.header h2 {
  color: #555;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 5px 0px;
}

.search {
  width: 350px;
  height: 40px;
  background-color: rgb(247, 247, 247);
  padding: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.search i {
  color: indigo;
}

.counter {
  margin-bottom: 5px;
}

.counter i {
  margin-right: 10px
}

.btn {
  margin: 10px 0px;
  background-color: indigo;
  color: white;

  display: grid;
  place-items: center;
  padding: 5px;
}

.wrapper {
  margin-top: 80px
}

.wrapper img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

table {
  width: 100%;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: indigo;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
}


.contact {
  cursor: pointer;
}

.btns {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.btns button {
  border: none;
  padding: 5px;
  display: grid;
  place-items: center;
}

.info {
  background-color: rgb(33, 136, 54);
  color: white;
  font-size: 13px;
}

.edit {
  background-color: rgb(35, 74, 134);
  color: white;
  font-size: 13px;
}

.delete {
  background-color: rgb(152, 65, 22);
  color: white;
  font-size: 13px;
}