<div class="sidebar">
  <div class="header">
    <h2>Zoro Innovate</h2>
  </div>
  <div class="user">
    <img
      src="https://media.istockphoto.com/photos/shot-of-a-young-businessman-working-on-his-laptop-at-his-desk-picture-id1389465862?b=1&k=20&m=1389465862&s=170667a&w=0&h=J_npFHoiIBLGz_S7Y8TxY6aDcA5M3X2HRnAMqF13ZZY="
      alt="User"
    />
    <div>
      <h2>John Doe</h2>
      <span>john@gmail.com</span>
    </div>
  </div>
  <div class="btn">
    <a routerLink="contacts/new-contact"
      >Add New <i class="fa-solid fa-plus"></i
    ></a>
  </div>
  <div class="menu">
    <ul>
      <div class="link">
        <a routerLink="contacts"
          ><i class="fa-solid fa-address-book"></i>Contacts</a
        >
      </div>
      <div class="link">
        <a routerLink="users"><i class="fa-solid fa-users"></i>Users</a>
      </div>
      <div class="link">
        <a routerLink="settings"> <i class="fa-solid fa-gears"></i>Settings</a>
      </div>
    </ul>
    <div>
      <a routerLink="login" class="link"
        ><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a
      >
    </div>
  </div>
</div>
